.genre-page-container {
  position: absolute;
  z-index: 250;
  left: 300px;
  top: 70px;
  width: 80%;
}

.genre-posters {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-row-gap: 50px;
  justify-content: center;
  width: 98.5%;
  padding-left: 20px;
  padding-bottom: 20px;
}

.page-posters {
  width: auto;
  height: 390px;
  border-radius: 4px;
  margin-right: 50px;

  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.genre-poster-title {
  width: 260px;
  color: white;
  font-weight: 400;
  letter-spacing: 1px;
  margin: 20px 0;
  transition: 0.2s ease-in-out;
}

.page-posters:hover {
  filter: brightness(80%);
  transform: scale(1.05);
}

.genre-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.prev {
  width: auto;
  height: 40px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.prev:hover {
  filter: brightness(110%);
  transition: 0.2s ease-in-out;
}

.prev.disabled {
  filter: brightness(50%);
}

.next {
  width: auto;
  height: 40px;
  padding-left: 10px;
  padding-right: 20px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.next:hover {
  transition: 0.2s ease-in-out;
  filter: brightness(120%);
}

.bottom-page-btns {
  display: flex;
  justify-content: space-between;
  padding-bottom: 50px;
}

.bottom-page-btns .next {
  padding-left: 0px;
  margin-right: 10px;
}

@media (max-width: 800px) {
  .genre-page-container {
    left: 30px;
    top: 100px;
  }

  .page-posters {
    width: auto;
    height: 250px;
    margin-right: 10px;
    border-radius: 8px;
  }

  .genre-posters {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 20px;
    margin-top: 10px;
  }

  .genre-poster-title {
    width: auto;
    margin: 0;
  }

  .genre-flex {
    display: flex;
  }

  .genre-header {
    align-items: flex-start;
  }

  .next,
  .prev {
    height: 30px;
    padding-right: 0;
  }
}
