.popular-container {
  position: absolute;
  z-index: 250;
  left: 15%;
  top: 70px;
}

.toprated-container {
  margin-top: 60px;
  padding-bottom: 200px;
  padding-top: 60px;
}

.headers {
  color: white;
  font-weight: 700;
  font-size: 40px;
  letter-spacing: 0.5px;
  margin: 0;
  padding-bottom: 30px;
}

.headers mark {
  background: none;
  color: #16ff83;
  padding-right: 10px;
}

.home-display {
  display: flex;
}

.big-poster {
  width: auto;
  height: 450px;
  border-radius: 2px;
  filter: brightness(80%);
  cursor: pointer;
  transition: 0.15s ease-in-out;
}

.big-poster:hover {
  transition: 0.15s ease-in-out;
  filter: brightness(65%);
}

.hero-content {
  position: relative;
  height: 450px;
  width: 800px;
}

.hero-info {
  position: absolute;
  z-index: 200;
  padding: 0 30px;
  top: 250px;
  pointer-events: none;
  user-select: none;
}

.hero-title {
  color: white;
  font-size: 30px;
  margin: 10px 0;
}

.hero-overview {
  margin: 0;
  color: white;
  width: 95%;
  line-height: 25px;
}
