.nav-bar {
  position: absolute;
  z-index: 1000;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.search {
  color: grey;
  margin-right: 50px;
  margin-top: 30px;
  cursor: pointer;
}
