.nav-bar {
  position: absolute;
  position: fixed;
  z-index: 1000;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-bar h1 {
  color: #16ff83;
  padding-left: 50px;
  margin-top: 20px;
  font-size: 25px;
  font-weight: 400;
  text-transform: uppercase;
  font-family: 'Anton', sans-serif;
  letter-spacing: 2px;
}

.search {
  color: grey;
  width: 20px;
  border-radius: 20px;
  border: 1px solid rgba(128, 128, 128, 0);
  background-color: rgba(255, 255, 255, 0);
  margin-right: 50px;
  margin-top: 20px;
  transition: 0.2s ease-in-out;
}

.search:hover {
  transition: 0.2s ease-in-out;
  width: 250px;
  border: 1px solid rgba(128, 128, 128, 0.26);
  background-color: rgba(255, 255, 255, 0.048);
}

.search:focus {
  transition: 0.2s ease-in-out;
  width: 250px;
  border: 1px solid rgba(128, 128, 128, 0.26);
  background-color: rgba(255, 255, 255, 0.048);
}

input,
.search {
  padding: 3px 10px;
  font-size: 15px;
}

input:focus {
  outline: none;
}

input,
.search::placeholder {
  font-size: 25px;
}

@media (max-width: 800px) {
  .nav-bar {
    width: 363px;
  }

  .nav-bar h1 {
    padding-left: 30px;
  }

  .search {
    margin-right: 20px;
  }
}
