.poster-container {
  display: flex;
  margin-left: 50px;
  width: 750px;
}

.poster-container-nohero {
  display: flex;
  width: 750px;
}

.posters {
  width: auto;
  height: 450px;
  object-fit: cover;
  border-radius: 2px;
  margin-right: 50px;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.posters:hover {
  transition: 0.15s ease-in-out;
  filter: brightness(80%);
}

.poster-title {
  width: 260px;
  color: white;
  font-weight: 400;
  letter-spacing: 1px;
  margin: 20px 0;
  transition: 0.2s ease-in-out;
}

.poster-title:hover {
  color: rgb(192, 192, 192);
  transition: 0.2s ease-in-out;
}

.title-links {
  text-decoration: none;
}

@media (max-width: 800px) {
  .posters {
    margin-right: 20px;
    border-radius: 8px;
  }

  .poster-container {
    margin-left: 0px;
  }
}
