.poster-container {
  margin-left: 50px;
  display: flex;
}

.posters {
  width: auto;
  height: 450px;
  border-radius: 4px;
  margin-right: 50px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.452);
}

.poster-title {
  width: 300px;
  color: white;
  font-weight: 500;
  margin: 10px 0;
}
