.side-bar {
  position: absolute;
  z-index: 1000;
  top: 80px;
  width: 10%;
  height: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-right: 1.5px solid rgba(255, 255, 255, 0.089);
}

a {
  font-size: 15px;
  text-decoration: none;
  color: grey;
  transition: 0.1s ease-in-out;
}

a:hover {
  transition: 0.1s ease-in-out;
  color: black;
  background-color: #16ff83;
  padding: 5px 20px;
  border-radius: 8px;
  text-align: center;
  font-weight: 500;
}
