.popular-container.scroller {
  position: absolute;
  z-index: 250;
  left: 15%;
  top: 22;
  width: 82%;
  height: 495px;
}

.toprated-container {
  margin-top: 2%;
  padding-bottom: 5vh;
}

.headers-top {
  color: white;
  font-weight: 700;
  font-size: 40px;
  letter-spacing: 0.5px;
  margin-top: 5%;
  padding-bottom: 0;
}

.headers-top mark {
  background: none;
  color: #16ff83;
  padding-right: 10px;
}

.headers {
  color: white;
  font-weight: 700;
  font-size: 40px;
  letter-spacing: 0.5px;
  margin: 0;
  padding-bottom: 30px;
}

.scroller {
  scrollbar-width: none;
}

.headers mark {
  background: none;
  color: #16ff83;
  padding-right: 10px;
}

.home-display {
  display: flex;
}

.big-poster {
  width: auto;
  height: 450px;
  border-radius: 2px;
  filter: brightness(50%);
  cursor: pointer;
  transition: 0.15s ease-in-out;
}

.big-poster:hover {
  transition: 0.15s ease-in-out;
  filter: brightness(65%);
}

.hero-content {
  position: relative;
  height: 450px;
  width: 800px;
}

.hero-info {
  position: absolute;
  z-index: 200;
  padding: 0 30px;
  top: 250px;
  pointer-events: none;
  user-select: none;
}

.hero-title {
  color: white;
  font-size: 30px;
  margin: 10px 0;
}

.hero-overview {
  margin: 0;
  color: white;
  width: 95%;
  line-height: 25px;
}

@media (max-width: 2048px) {
  .popular-container {
    left: 1.5%;
    right: 0;
    margin: 5% auto;
    width: 100%;
  }
}

@media (max-width: 1380px) {
  .big-poster {
    display: none;
  }
  .hero-content {
    display: none;
  }

  .popular-container {
    left: 14vh;
  }
  .headers {
    margin-left: 5vh;
  }

  .toprated-container {
    margin-left: 5vh;
  }

  .headers-top {
    margin-left: 5vh;
  }
}

@media (max-width: 800px) {
  .popular-container {
    left: 30px;
    top: 100px;
  }

  .hero-content {
    display: none;
  }

  .headers {
    font-size: 1.2rem;
    margin-left: 0px;
  }

  .toprated-container {
    margin-top: 0;
    padding-bottom: 0;
  }
}
