.nav-bar {
  position: absolute;
  z-index: 1000;
  top: 0;
  right: 0;
  left: 0;
  margin: 0 auto;
  padding-top: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.3393732492997199) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

@media (max-width: 1380px) {
  .logo {
    margin-left: 2vh;
  }
}

.search {
  color: rgb(72, 72, 72);
  border: none;
  width: 200%;
  font-family: "Roboto", sans-serif;
  background-color: rgba(80, 80, 80, 0.329);
  border-radius: 5px;
  margin-top: 5px;
  margin-right: 2vh;
  transition: 0.2s ease-in-out;
}

.search:hover {
  background-color: rgba(106, 106, 106, 0.329);
}

input,
.search {
  text-align: center;
  padding: 5px 0px;
  font-size: 15px;
  color: white;
}

input:focus {
  outline: none;
}

input,
.search::placeholder {
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  color: rgb(167, 167, 167);
}

@media (max-width: 800px) {
  .nav-bar {
    width: 363px;
  }

  .nav-bar h1 {
    padding-left: 30px;
  }

  .search {
    margin-right: 20px;
  }
}
