.poster-container {
  display: flex;
  margin-left: 30px;
  height: 520px;
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-behavior: smooth;
}

.poster-container::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  background-color: rgba(0, 0, 0, 0);
}

.poster-container::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.075);
  height: 8px;
  border-radius: 20px;
}

.poster-container-nohero {
  display: flex;
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-behavior: smooth;
}

.poster-container-nohero::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  background-color: rgba(0, 0, 0, 0);
}

.poster-container-nohero::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.075);
  height: 8px;
  border-radius: 20px;
}

.posters:hover ~ .poster-title {
  color: white;
  opacity: 1;
}

.posters {
  width: auto;
  height: 450px;
  object-fit: cover;
  border-radius: 2px;
  margin-right: 20px;
  transition: 0.3s ease-in-out;
  cursor: pointer;
  filter: brightness(80%);
  user-select: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.posters:hover {
  transition: 0.15s ease-in-out;
  filter: brightness(100%);
}

.poster-title {
  width: 260px;
  color: rgba(255, 255, 255, 0.198);
  font-weight: 400;
  letter-spacing: 1px;
  margin: 5px 0;
  transition: 0.2s ease-in-out;
  opacity: 0;
}

.poster-title:hover {
  color: rgb(192, 192, 192);
  transition: 0.2s ease-in-out;
}

.title-links {
  text-decoration: none;
}

@media (max-width: 800px) {
  .posters {
    margin-right: 20px;
    border-radius: 8px;
  }

  .poster-container {
    margin-left: 0px;
  }
}
