.side-bar {
  position: absolute;
  position: fixed;
  z-index: 1000;
  top: 80px;
  width: 10%;
  height: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-right: 1.5px solid rgba(255, 255, 255, 0.089);
}

.links {
  font-size: 12px;
  text-decoration: none;
  letter-spacing: 1px;
  color: rgb(192, 192, 192);
  transition: 0.1s ease-in-out;
  width: 90px;
}

.links:hover {
  transition: 0.1s ease-in-out;
  color: #16ff83;
}

.is-active {
  color: #16ff83;
}

@media (max-width: 800px) {
  .side-bar {
    display: none;
  }
}
