.side-bar {
  position: absolute;
  position: fixed;
  z-index: 1000;
  top: 0vh;
  width: 10%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-right: 1.5px solid rgba(255, 255, 255, 0.089);
}

.links-logo {
  font-size: 20px;
  font-weight: 900;
  font-style: italic;
  text-decoration: none;
  letter-spacing: 2px;
  color: #16ff83;
  transition: 0.1s ease-in-out;
  width: 90px;
  text-transform: uppercase;
}

.links {
  font-size: 10px;
  font-weight: 700;
  text-decoration: none;
  letter-spacing: 2px;
  color: rgb(192, 192, 192);
  transition: 0.1s ease-in-out;
  width: 90px;
  text-transform: uppercase;
  opacity: 0.8;
}

.links:hover {
  transition: 0.1s ease-in-out;
  color: #16ff83;
  opacity: 1;
}

.is-active {
  color: #16ff83;
  opacity: 1;
}

/* .mobile-logo {
  font-size: 2rem;
  font-weight: 900;
  font-style: italic;
  text-decoration: none;
  letter-spacing: 2px;
  color: #16ff83;
  transition: 0.1s ease-in-out;
  width: 90px;
  text-transform: uppercase;
}

.mobile {
  position: absolute;
  z-index: 999;
  display: flex;
  flex-direction: row-reverse;
  width: 20%;
  align-items: center;
  justify-content: space-between;
  top: 0;
  left: 1.5%;
  color: white;
}

.mobile-nav {
  font-size: 1.3rem;
  font-size: 400;
  opacity: 0.5;
}

@media (max-width: 2048px) {
  .side-bar {
    display: none;
    left: 0;
    right: 0;
    margin: 0 auto;
    border: none;
    background-color: rgba(0, 0, 0, 0.938);
    width: 100%;
  }
  .links {
    font-size: 1.3rem;
    text-align: center;
    font-weight: 400;
    width: auto;
  }
}

@media (max-width: 800px) {
  .side-bar {
    display: none;
  }
} */
