.show-page-container {
  position: absolute;
  z-index: 250;
  left: 250px;
  top: 80px;
  width: 80%;
}

.show-hero {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: inherit;
  align-items: flex-start;
  border-bottom: 2px solid rgba(128, 128, 128, 0.336);
}

.show-info {
  padding-left: 0px;
}

.show-info-container h2 {
  color: white;
  margin: 0;
  font-weight: 500;
}

.pre-header-flex {
  display: flex;
}

.show-info .air-date {
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.274);
  margin-bottom: 5px;
  margin-top: 40px;
}

.pre-header-flex h2 {
  color: #16ff83;
  padding-left: 10px;
  font-size: 1rem;
  margin-top: 40px;
}

.header-flex {
  display: flex;
  align-items: center;
  height: 38px;
}

.headers-hero {
  color: white;
  font-weight: 700;
  font-size: 40px;
  letter-spacing: 0.5px;
  margin: 0;
}

.favorite-btn {
  margin-left: 20px;
  border: 1.5px solid rgba(128, 128, 128, 0.432);
  font-weight: 500;
  border-radius: 2px;
  padding: 10px 35px;
  color: rgba(128, 128, 128, 0.432);
  background-color: rgba(32, 32, 32, 0);
  cursor: pointer;
  transition: 0.2s ease-in-out;
  display: none;
}

.favorite-btn:hover {
  border: 1.5px solid #16ff83;
  transition: 0.2s ease-in-out;
  background-color: #16ff83;
  color: rgb(26, 26, 26);
}

.favorite-btn:focus {
  outline: none;
}

.overview-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-height: 400px;
}

.overviews {
  color: white;
  width: 100%;
  max-height: 350px;
  overflow: scroll;
  line-height: 40px;
  letter-spacing: 1.2px;
  font-size: 15px;
  scroll-behavior: smooth;
}

.scroller {
  scrollbar-width: none;
}

.overviews::-webkit-scrollbar {
  display: none;
  scroll-behavior: smooth;
}

.show-info-container {
  position: relative;
  z-index: inherit;
  margin-top: 20px;
  padding-bottom: 30px;
  height: auto;
}

.cast {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  justify-content: flex-start;
}

.cast p {
  color: white;
  font-size: 0.8rem;
  padding-right: 14px;
  padding-top: 10px;
  line-height: 0px;
}

.network-container {
  display: flex;
  align-content: flex-end;
  padding-bottom: 20px;
  padding-top: 30px;
}

.network-logo {
  padding-top: 0;
  width: auto;
  height: 30px;
  padding-right: 20px;
}

mark {
  background: none;
  color: #16ff83;
}

.show-backdrop {
  object-fit: contain;
  width: auto;
  height: 450px;
  border-right: 2px solid rgba(128, 128, 128, 0.336);
  padding-right: 50px;
  transition: 0.2s ease-in-out;
}

.show-player {
  display: flex;
  max-height: 450px;
  width: 100%;
  color: white;
  transition: 0.2s ease-in-out;
}

/* @media (max-width: 1370px) {
  .show-player {
    flex-direction: column;
  }
} */

.seasons-flex {
  display: flex;
  flex-wrap: wrap;
  width: 600px;
}

.seasons {
  cursor: pointer;
  margin-right: 10px;
  margin-bottom: 10px;
  line-height: 0;
}

.seasons:hover {
  color: #16ff83;
}

.episodes {
  overflow: scroll;
  scroll-behavior: smooth;
  max-height: 300px;
}

.episodes::-webkit-scrollbar {
  width: 5px;
  background-color: rgba(128, 128, 128, 0);
}

.episodes::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.137);
  width: 5px;
  border-radius: 50px;
}

.episodes::-webkit-scrollbar-corner {
  display: none;
}

.episode {
  cursor: pointer;
  transition: 0.2s ease-in-out;
  color: white;
  text-decoration: none;
}

.episode:hover {
  color: #16ff83;
  transition: 0.2s ease-in-out;
}

.episode-selection {
  padding-left: 50px;
}

.episode-selection h2 {
  color: #16ff83;
  margin-top: 0;
}

.episode-selection h4 {
  margin-top: 0;
  margin-bottom: 5px;
}

.episode-selection p {
  margin-bottom: 30px;
  margin-top: 0;
  padding-right: 10px;
}

.episode-overview {
  letter-spacing: 1.2px;
  font-size: 12.5px;
  line-height: 20px;
  width: 90%;
  color: rgba(255, 255, 255, 0.719);
}

.visit-site-btn {
  width: 180px;
  padding: 17px 0px;
  border-radius: 3px;
  color: grey;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  letter-spacing: 1.5px;
  background-color: rgba(21, 21, 32, 0);
  border: 1.2px solid grey;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.show-page-backdrop {
  object-fit: cover;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  opacity: 0.35;
  filter: blur(80px) grayscale(40%);
}

.show-overlay {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(3, 10, 27);
  position: absolute;
  position: fixed;
}

.similar-container {
  position: relative;
  z-index: 250;
  left: 0;
  top: 0;
  padding-bottom: 200px;
  padding-top: 20px;
}

.extras-videos {
  display: flex;
}

.extras-container {
  position: relative;
  z-index: inherit;
  margin-top: 40px;
  height: 350px;
}

.extra-video {
  border: none;
  padding-right: 20px;
}
