.backdrop {
  width: 100%;
  height: auto;
  position: fixed;
  z-index: 150;
  opacity: 0.3;
  filter: blur(100px) grayscale(40%);
}

.overlay {
  width: 100%;
  height: 100%;
  background-color: rgb(3, 10, 27);
  position: absolute;
  position: fixed;
}
