.backdrop {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 150;
  opacity: 0.3;
  filter: blur(80px) grayscale(40%);
}

.overlay {
  width: 100%;
  height: 100%;
  background-color: rgb(3, 10, 27);
  position: absolute;
  position: fixed;
}
